.main {
  position: relative;
  height: 100vh;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.main h1 {
  font-family: 'Odibee Sans', cursive;
  font-size: 5em;
  font-weight: normal;
}
.main p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  margin-bottom: 1em;
}
.main button {
  font-size: 1.3em;
  border: 2px solid #000;
  color: #000;
  padding: 0.5em 1em;
  background-color: transparent;
}
.main button:hover {
  background-color: #000;
  color: #fff;
}
.main button:hover + .illustration {
  transform: translate(30px, -30px);
}
.illustration {
  position: absolute;
  bottom: -150px;
  left: -150px;
  transition: all 0.5s ease;
}
@media (max-width: 800px) {
  .main h1 {
    font-size: 3em;
  }
  .main p,
  .main button {
    font-size: 1em;
  }
  .illustration {
    transform: scale(0.6);
    bottom: -190px;
    left: -190px;
  }
  .main button:hover + .illustration {
    transform: translate(30px, -30px) scale(0.8);
  }
}
